@charset "UTF-8";

/*
Paleta de Cores
 purple: #660CB3
 lightyellow: #FCC644
 yellow: #FCC644
 aqua: #0EB577
 darkaqua: #0E4736
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    height: 100vh;
    background-color: #660CB3;
}

main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

section#login{
    background-color: white;
    width: 100%;
    max-width: 250px;
    min-height: 500px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#imagem{
    display: block;
    width: 100%;
    height: 150px;
    background: url(../imagens/imagem.jpg) no-repeat top right;
    background-size: cover;
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}